<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
        <h2 class="modal-title"><%= _('Question Identifiers List for %{template_name}') % { template_name: template.title } %></h2>
    </div>

    <div class="modal-body" style="text-align: left">
        test
    </div>
    <div class="modal-footer">
        <!--% 
        <%= link_to _('Download'), class: "btn btn-primary" %>
        <%= button_tag(_('Close'), class: 'btn btn-primary', 'data-dismiss': 'modal') %> 
        -->
    </div>
  </div>
</div>